name: Continuous Deployment

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - name: Checkout credo-ts-didweb-anoncreds
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Formatting
        run: pnpm style:check

      - name: Check typescript
        run: pnpm types:check