name: Continuous Deployment

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: The type of release. Should be one of "major", "minor", "patch"
        required: true
        default: 'patch'

permissions:
  id-token: write   # required for npm trusted publishing

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release Stable
    needs: [validate]
    # Only run on workflow dispatch to main branch
    if: github.ref == 'refs/heads/main' && github.repository == '2060-io/aries-javascript-didweb-anoncreds' && github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout aries-javascript-didweb-anoncreds
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: git config
        run: |
          git config user.name "@github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # anchor to the smallest npm version supporting trusted publishing
      - name: Update npm
        run: npm install -g npm@^11

      - name: Set Verbose Logging
        run: npm config set loglevel verbose --global

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the library
        run: pnpm build

      - name: Release unstable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm release ${{ github.event.inputs.releaseType }} --ci
